@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  position: relative;
  max-width: 150px;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  display: inline-block;
  color: #fff;
  font-weight: 400px;
  margin-left: 40px;
  text-decoration: none;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .text-box {
  position: relative;
  max-width: 600px;
}

.content .text-box h2 {
  color: #017143;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500px;
}

.content .text-box p {
  color: #fff;
}

.content .text-box a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500px;
  letter-spacing: 1px;
  text-decoration: none;
}

.content .img-box {
  width: 600px;
  display: flex;
  justify-content: flex-start;
  padding-right: 50px;
  margin-top: 50px;
}

.content .img-box img {
  max-width: 500px;
}

.thumb-nail {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%);
  display: flex;
}

.thumb-nail li {
  list-style: none;
  display: inline-block;
  margin: 0px 20px;
  cursor: pointer;
  transition: 0.5s;
}

.thumb-nail li:hover {
  transform: translateY(-15px);
}

.thumb-nail li img {
  max-width: 100px;
}

.social-icons {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icons li {
  list-style: none;
}

.social-icons li a {
  display: inline-block;
  margin: 5px 0;
}
